svg {
	border: 1px solid #bbb;
	background: 'white';
}

.circle {
	stroke: #fff;
	stroke-width: 1.5px;
	fill: #666;
}

.link {
	stroke: #999;
}

.nodetext {
	pointer-events: none;
	font-family: sans-serif;
	font-size: 11px;
}

.linktext, .settinginfo {
	pointer-events: none;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.linktext .key {
	font-weight: normal;
}

.infopanel {
	font-family: sans-serif;
	font-size: 12px;
}

.infopanel .heading, .heading1, .heading2, .infopanel .rightcol {
	font-weight: bold;
}

button {
  background-color: #d5000d;
  font-size: 13px;
  color: white;
  padding: 15px 32px;
	margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
